/* general fonts */
body {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Raleway', 'Helvetica', sans-serif; 
    font-weight: 300; 
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    font-size: 3.5rem; 
}

h2, h3, h4, h5, h6 {
    font-size: 2.5rem; 
}
p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* page spacing */
.material-icons {
    position: relative; 
    top: 5px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

/* navbar */
nav {
    position: fixed;
    width: 100%; 
    background-color: #2c96bf;
    color: white;
    padding: .5rem .5rem 1rem .5rem;
}
nav li {
    margin: 1rem 0 0 1rem;
    padding: 0;
    display: inline;
}
nav li a {
    color: black;
    text-decoration: none;
}
nav li a:hover {
    color: #F0F0F0;
    border-bottom: .8rem;
    transition: ease-out .25s;
}

/* header */
header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background: url('../img/paul-gilmore-145802-unsplash.jpg') center / cover;
    background-color: #0084Af;
}

.motto {
    font-style: italic;
    font-size: 1.25rem;
}

/* menu */
#menu {
    background-color: #F0F0F0;
}

#menu dl dt { 
    font-size: 1.25rem;
    font-style: bold;
    margin-top: 1rem;
}
#menu dl dt dd { 
    margin: 0;
}
#menu img {
    height: 200px;
    border-radius: 15px;
}

/* about */
#about {
    background-color: #e0e0e0;
    line-height: 1.5;
}